<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title><%= title %></title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <td>Node</td>
                <td>상태</td>
                <td>버젼</td>
                <td>chain_maker_policy</td>
                <td>resource_miner_policy</td>
                <td>collector_policy</td>
                <td>mining</td>
                <td>main_chain_waiting</td>
                <td>resource_chain_waiting</td>
                <td>last_block_height</td>
                <td>last_block_timestamp</td>
                <td>last_block_transaction_count</td>
                <td>last_resource_block_height</td>
                <td>last_resource_block_timestamp</td>
                <td>difficulty</td>
                <td>main_height</td>
                <td>validator</td>
                <td>miner</td>
                <td>receipt_count</td>
            </tr>
        </thead>
	<tbody class="table_body">
	</tbody>
	<button type="button" onclick="getJSON()"> 새로고침 </button>
    </table>
		

</body>
</html>
